
#title{
    background-color: #ff4c68;
    height: 900px;
}

.container-fluid{
    padding: 3% 15%;

}
.title{
    font-family: "montserrat";
    font-size: 3rem;
    line-height: 1.5;
    color: white;
}
nav{
    color: aliceblue;
}


.btn{
    position: relative;
    top: 40px;
}

/* navigation bar */
#title{
    font-family: "Ubuntu";
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
}
.navbar-brand{
    color: white;
    text-decoration:double;
    font-size: xx-large;
}
.nav-item{
    padding: 0 18px;
    font-family: "montserrat";
    color: white;
}
.nav-link{
    font-size: 0.9rem;
    color: white;
}
.download-button{
    margin: 5% 3% 5% 0;
}
.image{
    height: 600px;
    left: 250px;
    
}
.rotated {
    transform: rotate(35deg); /* Equal to rotateZ(45deg) */
    position: absolute;
}
#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 3;
}

.feature-box{
    text-align: center;
    padding: 5%;
}
h3{
    font-family: "Montserrat";
}
p{
    color: #8f8f8f;
}

.icon{
    color: #ef8172;
    margin-bottom: 1.1rem;
}
.icon:hover{
    color: #ff4c68;
}
.press-logo{
    width: 5px;
    margin: 20px 20px 50px;
}


#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}


h2{
    font-family: "Montserrat";
    font-size: 3rem;
}

.testimonial-image{
    width: 13%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color: #ef8172;
    padding-bottom: 3%;
    text-align: center;
}
.press-logo{
    width: 5px;
    margin: 20px 20px 50px;
}
.carousel-item{
    padding: 5% 15%;
}



.btn7 {
    background: #b5e1ff;
    background-image: -webkit-linear-gradient(top, #b5e1ff, #1994e0);
    background-image: -moz-linear-gradient(top, #b5e1ff, #1994e0);
    background-image: -ms-linear-gradient(top, #b5e1ff, #1994e0);
    background-image: -o-linear-gradient(top, #b5e1ff, #1994e0);
    background-image: linear-gradient(to bottom, #b5e1ff, #1994e0);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 26px;
    padding: 4px 38px 4px 37px;
    text-decoration: none;
  }
  
  .btn7:hover {
    background: #5b5f61;
    background-image: -webkit-linear-gradient(top, #5b5f61, #0a0a0a);
    background-image: -moz-linear-gradient(top, #5b5f61, #0a0a0a);
    background-image: -ms-linear-gradient(top, #5b5f61, #0a0a0a);
    background-image: -o-linear-gradient(top, #5b5f61, #0a0a0a);
    background-image: linear-gradient(to bottom, #5b5f61, #0a0a0a);
    text-decoration: none;
  }


.pricing-column{
    padding: 3% 2%;
    text-align: center;
}

#pricing{
    padding: 100px;
    text-align: center;
}

@media (max-width: 642px){
    #container-fluid{
        text-align: center;
    }
    .image{
        position: static;
        transform: rotate(0);
    }
}